<h1>{{title}}</h1>

<form action="/viewData/price" method="POST">
  <label for="minPrice">Min Price ($):</label>
  <input type="text" id="minPrice" name="minPrice" required>
  <br>
  <label for="maxPrice">Max Price ($):</label>
  <input type="text" id="maxPrice" name="maxPrice" required>
  <br>
  <button type="submit">Search</button>
</form>
